@charset "UTF-8";
/* 共通スタイル */

.p-aside {
  background: #80BFA8;

  @include mq($pc){
    width: 300px;
    padding: 20px 30px 0 20px;
  }

  @include mq($sp){
    padding: 40px;
  }

  .p-aside__ttl {
    @include mq($sp){
      font-size: 1.25rem;
    }
  }

  .p-aside__item {
    @include mq($pc){
      margin-top: 25px;
    }

    @include mq($sp){
      margin-top: 15px;
    }

    .p-aside__txt {
      @include mq($pc){
        margin-top: 20px;
        font-size: 1.1rem;
      }

      @include mq($sp){
        margin-top: 10px;
        font-size: 0.8rem;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }
}